/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/.vs/
/.idea/
/.vscode/
*.csproj
*.sln
*.suo
*.user
.DS_Store
/DreamOS_UserData/
*.sav
*.sav.bak
/Models/
/Assets/StreamingAssets/LingGuang/Models/
/Assets/StreamingAssets/LingGuang/llama/
*.gguf
*.safetensors
*.onnx
*.ckpt
*.pt
*.pth
